.filter {
    margin-bottom: 13px;

    select {
        width: 40%;
        padding: 3px;
    }

    button {
        width: 20%;
        padding: 3px;
    }
}

.ban-list {

}

.ban {
    margin-bottom: 13px;
    padding-left: 3px;
    padding-right: 3px;
}
